@model SystemMngmt.Models.Timework

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Timework</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.timework_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.timework_id)
                @Html.ValidationMessageFor(model => model.timework_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.session, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.session)
                @Html.ValidationMessageFor(model => model.session)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.begin_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.begin_time)
                @Html.ValidationMessageFor(model => model.begin_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.end_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_time)
                @Html.ValidationMessageFor(model => model.end_time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
