@model SystemMngmt.Models.Timework

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Timework</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.begin_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.begin_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.timework_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
