@model SystemMngmt.Models.TimeWork

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CẬP NHẬT GIỜ LÀM VIỆC</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Session)

        <div class="form-group">
            @Html.LabelFor(model => model.Session, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Session)
                @Html.ValidationMessageFor(model => model.Session)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Begin_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Begin_time)
                @Html.ValidationMessageFor(model => model.Begin_time)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End_time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End_time)
                @Html.ValidationMessageFor(model => model.End_time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span id="progress" class="text-center" style="display: none;">
                    <img src="~/Content/images/ajax-loader.gif" alt="wait" />
                    Wait..
                </span>
                <input type="submit" value="CẬP NHẬT" class="btn btn-default btn-primary" />
                <button class="btn btn-group-lg" data-dismiss="modal">@Html.ActionLink("Quay lại", "Index")</button>

            </div>
        </div>
    </div>
}

<div>
    
</div>
