@model IEnumerable<SystemMngmt.Models.Timework>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.begin_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.session)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.begin_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.timework_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.timework_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.timework_id })
        </td>
    </tr>
}

</table>
